{{#form-for data as |form|}}
  <button type="submit">Vengaaaa!!</button>
  <br>
  <br>
  {{form.input-for "name"
    placeholder="Your name"
    autofocus=true}}
  <br>
  {{form.input-for "email"
    type="email"
    placeholder="Your email"}}
{{/form-for}}
